<div class="container-fluid">

  <div class="row p-2">
    <div class="btn-group">
      <div class="btn-group" ngbDropdown role="group" aria-label="Button to select country">
        <button class="btn btn-outline-primary" ngbDropdownToggle>Spain</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <h6 class="dropdown-header">Country</h6>
          <button class="dropdown-item">Spain</button>
        </div>
      </div>
      <div class="btn-group" ngbDropdown role="group" aria-label="Button to select province">
        <button class="btn btn-outline-primary" ngbDropdownToggle>Málaga</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <h6 class="dropdown-header">Province</h6>
          <button class="dropdown-item">Málaga</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="table-fixed-container">
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Brand</th>
              <th scope="col">Address</th>
              <th scope="col">Diesel</th>
              <th scope="col">Gasoline 95</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gasStation of gasStationsWithPrice;let i = index;"
                (click)="selectGasStation(gasStation)"
                [class.table-active]="gasStation == selectedGasStation">
              <th scope="row">{{i+1}}</th>
              <td>{{gasStation.gasStation.brand}}</td>
              <td>{{gasStation.gasStation.address}}</td>
              <td>{{gasStation.currentPrice?.dieselPrice}}</td>
              <td>{{gasStation.currentPrice?.gasoline95Price}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <fuel-map #fuelMap [longitude]="selectedGasStation?.gasStation.longitude"
              [latitude]="selectedGasStation?.gasStation.latitude"></fuel-map>

    <div *ngIf="lineChartData?.length" style="width: 100vw;">
      <canvas baseChart height = "100px"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>


